language: python
python:
  - "3.7"
install:
  - pip install pipenv
  - pipenv install --dev
script:
  - pytest --cov=common --cov-branch
deploy:
  - provider: pypi
    username: "__token__"
    password: $PYPI_TOKEN
    on:
      branch: main
      tags: true