git:
  depth: 1
language: python
python:
  - "3.7"
stages:
  - test
  - deploy
jobs:
  include:
    - stage: test
      name: "Unit tests"
      install:
        - pip install pipenv
        - pipenv install --dev
      script:
        - pipenv run pytest -s --cov=ts_sdk --cov-branch ./__tests__/unit
    - stage: test
      name: "Integration tests"
      env:
        global:
          - FAKE_S3_DIR=$HOME/fakes3
          - AWS_ACCESS_KEY_ID=aws-key
          - AWS_SECRET_ACCESS_KEY=aws-secret
          - AWS_REGION=us-east-2
      services:
        - docker
      before_install:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        - docker pull tetrascience/ts-fakes3
        - docker run --name fake_s3 -v $FAKE_S3_DIR:/fakes3_root -p 4569:4569 -d tetrascience/ts-fakes3
      install:
        - pip install pipenv
        - pipenv install --dev
      script:
        - pipenv run pytest -s ./__tests__/integration
    - stage: test
      name: "ts-sdk cli tests"
      install: skip
      script:
        - python3 setup.py bdist_wheel
        - pip install ./dist/*.whl
        - ts-sdk --help
        - ts-sdk init -o org -p test-protocol -t ts-slug -f ./new-protocol
        - pushd .
        - cd ./new-protocol/task-script
        - pipenv install --dev
        - pipenv install --dev ../../dist/*.whl
        - pipenv run python -m pytest -s
        - popd
    - stage: deploy
      script: skip
      before_deploy:
        - echo __version__ = \"$TRAVIS_TAG\" > ts_sdk/_version.py
      deploy:
        - provider: pypi
          username: "__token__"
          password: $PYPI_TEST_TOKEN
          distributions: "sdist bdist_wheel"
          server: https://test.pypi.org/legacy/
          skip_cleanup: true
          on:
            branch: test-deploy
        - provider: pypi
          username: "__token__"
          password: $PYPI_TOKEN
          distributions: "sdist bdist_wheel"
          skip_cleanup: true
          on:
            branch: main
            tags: true
