[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
snapshottest = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
responses = "*"

[packages]
boto3 = "==1.16.3"
botocore = "==1.19.3"
jsonschema = "==3.2.0"
query-string = ">=2020.12.3"
requests = ">=2.22.0"
setuptools = "*"
smart-open = {version = "==3.0.0", extras = ["s3"]}
ts-sdk = {editable = true, path = "."}
typing-extensions = "==3.7.4.3"
colorama = "*"

[requires]
python_version = "3.7"
